body {
  box-sizing: border-box;
  width: 100%;
  background-color: hsl(225, 100%, 94%);
}

main {
  width: 33%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 6px;
  background-color: white;
  font-weight: 500;
  overflow: hidden;
}

main > section, main > p {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  margin-top: 5%;
}

section { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(225, 100%, 98%);
  background-color: hsl(225, 100%, 98%);
  border-radius: 6px;
  box-sizing: border-box;
}

#icon {
  width: 30px;
  height: 30px;
}

li {
  text-align: left;
  padding-left: 5px;
}

ul > li:first-child {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

ul > li:last-child {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  padding-top: 3px;
}

section a {
  color: hsla(245, 75%, 52%);
  text-decoration: underline;
}

section a:hover {
  text-decoration: none;
  cursor: pointer;
  color: hsla(245, 75%, 52%, 0.712);
}

button {
  width: 75%;
  margin: 10px auto;
}

button:first-of-type {
  padding: 10px;
  color: white;
  box-shadow: 0 6px 4px hsl(225, 100%, 94%);
  background-color: hsl(245, 75%, 52%);
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 10px;
}

button:first-of-type:hover {
  background-color: hsla(245, 75%, 52%, 0.712);
}

button:last-of-type {
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  border: none;
  background: none;
}

button:last-of-type:hover {
  color: hsl(223, 47%, 23%);
}

button:hover {
  cursor: pointer;
}

p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 800px) {
  main {
    width: 75%;
  }
}

@media (max-width: 375px) {
  main{ 
    width: 90%;
  }
}